# Dependencias
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build & Next.js
/.next
/out
/build
.next/
out/

# Cache
.next/cache
/.turbo
/.swc
.eslintcache

# Pruebas
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Entorno
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Tailwind (si generas artefactos locales)
.tailwind/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.pem
